@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f5f5dc;
  color: #333;
  font-family: 'Libre Baskerville', serif;
}

mat-card {
  max-width: 350px;
  margin: auto;
  padding: 20px;
  background-color: #FFFFF0;
  border: 1px solid goldenrod;
  border-radius: 4px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: 'Libre Baskerville', serif;
}

p {
  margin-bottom: 10px;
  font-family: 'Libre Baskerville', serif;
}

.custom-button {
  margin: 10px;
  color: darkgoldenrod;
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  border: 1px solid darkgoldenrod;
}

button:hover {
  background-color: goldenrod!important;
  color: white;
}
